.word_title {
  font-size: 50px;
  font-weight: 500;
  color: #008080;
}
.word_title_1 {
  font-family: "黑体";
  font-size: 20px;
}
.word_title_2 {
  font-family: "楷体";
  font-size: 20px;
}
.word_title_3 {
  font-family: "仿宋";
  font-size: 18px;
}
.word_title_4 {
  font-family: "仿宋";
  font-size: 18px;
}
.word_content {
  font-family: "仿宋";
  font-size: 18px;
  color: #000;
}
.word_lingt {
  color: #000;
  font-weight: bold;
  font-family: "仿宋";
  font-size: 18px;
}
